*{
    margin: 0;
    padding:0 ;
    font-family: sans-serif;
}
#header{
    height:110vh;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
}
.container{

    margin-right: 100px;
    margin-left:100px;

}
.logo{
    margin-top:30px;
    width:100px;

}
.header-text{
    max-width:350px;
    margin-top:140px;
}
h1{
    font-size:34px;

}
.square {
    height:12px;
    width:12px;
    display: inline-block;
    background: #544fa7;
    margin:15px 0;
}
.common-btn{
    padding:18px 40px;
    background:transparent;
    outline: none;
    border:2px solid #544fa7;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    margin-top:30px;
    margin-bottom: 40px;
}
p{
    font-size:15px;
    line-height:18px;
    color:#777;
}
.line-1{
    width:15px;
    height: 15px;
    background:#544fa7;
    display:inline-block;
    
}

.line-2{
    width:80px;
    height: 1px;
    background:#544fa7;
    display:inline-block;
    
}
.line-3{
    width:60px;
    height: 1px;
    background:#544fa7;
    display:inline-block;
    
}
.line{
    line-height: 8px;

}
#sideNav{
    width:250px;
    height:100vh;
    position: fixed;
    right:-250px;
    top:0;
    background:#544fa7;
    z-index:2;
    transition: .5s;

}
nav ul li{
    list-style:none;
    margin: 50px 20px;
}
nav ul li a{
     text-decoration: none;
     color:#fff;
}
nav ul li a:hover{
    color: violet;
}
#menuBtn{
    width:50px;
    position: fixed;
    right:65px;
    top:35px;
    z-index: 2;
    cursor: pointer;
}
#about,#offer{
    padding:100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
}
.about-text h2{
    max-width: 50px 0 10px;
    font-size: 28px;
    font-style: italic;

}
.about-text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979;
}
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    
    flex-wrap: wrap;
}
.feature-col{
    flex-basis: 25%;
    text-align: center;
    
}
.feature-col img{
    width: 100px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
.feature-btn{
    margin:80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.feature-btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}
#courses{
    padding: 100px 0;
}
.course-row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;

}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-text{
    max-width: 350px;
    padding-left: 80px;
}
.contact-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col, .contact-right-col{
flex-basis: 50%;
}
.contact-right-col img{
    width: 100%;
}
form{
    max-width: 350px;
    margin:30px 0;
}
form input{
    width:100%;
    padding: 12px 10px;
    margin-bottom:5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border:2px solid #8c8cd2;
    border-radius: 50px;
}
.btn-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-box button{
    flex-basis: 48%;
    padding: 18px 0;
}
.txt-type > .txt{
    border-right:0.2rem solid #000;
}


button:hover{
    background-color:#544fa7 ;
    color: white;
    transition: .5s;
}
#footer{
    padding: 0 0;
    background-color:#6c64fb ;
    height: 30vh;
}
.footer-row{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}
.footer-right-col{
    flex-basis: 50%;
}
.footer-right-col div{
     padding: 0px;
}
.footer-right-col div h2{
        color: white;
}
.footer-right-col div p{
    color: white;
}
.footer-left-col div{
    display: flex;
    align-items: center;

}
.footer-right-col div a{
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
@media only screen and (max-width:770px){
     #header{
         background-image:none;
     }
     .container{
         margin-right: 50px;
         margin-left: 50px;
     }
     .logo{
         margin-top: 27px;
         width: 70px;
     }
     .header-text{
         margin-top: 100px;
     }
     .logo{
         margin-top: 27px;
         width: 70px;
     }
     h1{
         font-size: 25px;
     }
     h2{
         font-size: 20px;
     }
     #menuBtn{
        width:40px;
        
        right:50px;
        
    }
    .common-btn{
        padding:10px 16px;
        
    }
    .about-left-col,.about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        
        font-size: 18px;
        
    
    }
    .feature-col{
           flex-basis: 100%;
           margin-bottom: 20px;
    }
    .course-left-col{
        flex-basis: 100%;
    }
    .course-right-col{
        flex-basis: 100%;
        margin-top: 70px;
    }
    .contact-right-col,.contact-left-col{
        flex-basis:100% ;
    }
    .contact-right-col{
        margin-top: 10px;
    }
    .footer-right-col,.footer-left-col{
        flex-basis: 100%;
    }
    #footer{
      height: 38vh;
    }
}    